.home-page{
    .title {
        font-family: 'Dosis', sans-serif;
        font-weight: 700;
    }

    .box-header{
        margin-top: 50%;
        transform: translateY(-50%);
        transition: .3s all ease-in;

        &.active {
            margin-top: 20%;
        }

        @media ( min-width: 768px) {
            margin-top: 90%;
        }

        @media ( min-width: 1200px) {
            margin-top: 30%;
        }
        h1 {
            font-weight: 700;
            font-size: 2.7rem;
        }
    }
    
    .input-box {
        input[type="text"] {
            height: 60px;
            
            border-radius: 5px;
        }
    }
    
    .card {
        border-radius: 5px;
        background-color: black;

        &-image {
            img{
                height: 250px;
                width: 100%;
                object-fit: cover;
                border-radius: 5px;
                opacity: 0.4;

                @media ( min-width: 768px) {
                    height: 350px;
                }
            }
        }
    
        &-title {
            font-size: 24px;
            font-weight: 800;
            color: #fff;

            position: absolute;
            bottom: 0px;
            left: 20px;

            transition: all .3s ease-in;
        }
        &-hover{
            background-color: rgba(0,0,0, .3);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transition: opacity .3s ease-in;
            opacity: 0;
            
            .btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%);
            }
        }
        &:hover {
            .card-hover{
                opacity: 1;
            }
        }
    }    

    .buscaVazia {
        h2{
            font-size: 2rem;
        }
    }
}

