.header {
	background: #020d18;
	box-shadow: 0 2px 5px -2px grey;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;

	&-logo {
		max-width: 290px;
	}
}

.acessar-conta {
  position: relative;
  top: 10px;
  background-color: #fff;
  border: 0;
  color: #333;
}
